body {

	font-family: Dancing Script;
	width: 90%;
	margin-left: 5%;
	background-color: black;
	text-align: center;
	

}

header{
	padding: 10px;
	margin-bottom: 0px;
	border-radius: 10px 10px 0 0;
	background-color: #5b7989;
    color: white;
}
header h1 {
	padding-left: 1%;
	font-size: 2em;
	text-shadow: 0 0 3px #02010a;
	text-align: left;
}

menu{

}
#menu ul{
	list-style: none;
	text-align: right;
	font-size: 25px;
	margin: 0;
	padding: 0;
}

#menu ul li{
	display: inline-block;
}

#menu ul li a{
	color:white;
	text-decoration: none;
}



#central{
	width: 100%;
	text-align: center;
}

#central1 {
	background-color: #82c3a6;
	padding: 10px;
	
	
}
#central1 img{
	box-shadow: 2px 2px 2px 2px #02010a;
	text-align: center;
}

#columna{
	background-color: #d5c75f;
	padding: 20px;
	display: flex;
	flex-direction: row;
}

#izquierda img{
	width: 80%;
	box-shadow: 2px 2px 2px 2px #02010a;
	border: 1px;

	
}
#izquierda img{

        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        transform: box-shadow(0);
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg); // IE 9
        -moz-transform: rotate(0deg); // Firefox
        -o-transform: rotate(0deg); // Safari and Chrome
        -ms-transform: rotate(0deg); // Opera
          
    }      
    
    #izquierda img:hover{
        	box-shadow: 2px 2px 2px 2px #82c3a6;
        	border: 2px solid;
            transform: rotate(10deg);
            -webkit-transform: rotate(10deg); // IE 9
            -moz-transform: rotate(10deg); // Firefox
            -o-transform: rotate(10deg); // Safari and Chrome
            -ms-transform: rotate(10deg); // Opera
       

        }

     




#derecha img{
	width: 80%;
	box-shadow: 2px 2px 2px 2px #02010a;
	border: 2px 2px 2px 2px;

}
#derecha img{
	transform: translate(5px,-20px);
            -webkit-transform: translateX(0px); // IE 9
            -moz-transform: translateX(0px); // Firefox
            -o-transform: translateX(0px); // Safari and Chrome
            -ms-transform: translateX(0px); // Opera
        }

#derecha img:hover{
			box-shadow: 2px 2px 2px 2px #82c3a6;
			border: 2px solid;
            transform: translate(5px, -20px);
            -webkit-transform: rotate(5px, -20px); // IE 9
            -moz-transform: rotate(5px, -20px); // Firefox
            -o-transform: rotate(5px, -20px); // Safari and Chrome
            -ms-transform: rotate(5px, -20px); // Opera


}
footer {

	border-radius: 0 0 10px 10px;
	background-color: #C6d5c5;
    font-color: black;
	font-size: 1.2em;
	margin: none;
	padding: 10px;
	text-decoration: none;
	font-color: black;
}

footer .col1, .col2, .col3, .col4{
    display: inline-block;
    width: 23%;
    margin-right: 1.5%;
	text-align: left;

  	}

.col3 img{
	width: 40px;

 } 



.adaptativa-porcentaje{

	width:90%;
}

.adaptativa-porcentaje-1{
	width:70%;
}

.adaptativa-porcentaje-2{
	width:50%;
}

.adaptativa-porcentaje-3{
	width:20%;
}

@media only screen and (max-device-width:900px) {
  #columna{
	flex-direction: column;
  }

footer .col1, .col2, .col3, .col4{
		width: 100%;
	}









